parameters:
    level: 8
    paths:
        - ../../config
        - ../../src
    bootstrapFiles:
        #- .phpstan.constants.php
    excludePaths:
        - ../../tests
        - ../../tests/bootstrap.php
        - ../../src/Controller/DiceGameController.php
    treatPhpDocTypesAsCertain: false
