{% extends "base.html.twig" %}

{% block body %}
<h1>Roll dices</h1>

{% if errorMessage is not null %}
    <p>{{ errorMessage }}</p>
{% else %}

<p>Here are the values of the {{ numberOfDices }} dices you rolled:</p>

(
{% for diceValue in diceValuesInt %}
    <p>{{ diceValue }}</p>
{% endfor %}
)

{% for diceValue in diceValues %}
    <h1>{{ diceValue }}</h1>
{% endfor %}

{% endif %}

{% endblock %}