body {
    /* background-color: skyblue; */

    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 16px;
    font-family: Titillium Web, Quicksand, Ubuntu;
    font-weight: 400;
}

p,
.post-req-span {
    font-size: 18px;
}

body {
    margin: 0 auto;
}

body *::selection {
    background-color:#d57ec3;
}


main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    opacity: 0.88;
    border-radius: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


header {
    position: relative;
    height: 160px;
    width: 100%;
    opacity: 0.9;
    /* background-color: rgb(37, 107, 84); */
}

nav {
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-size: 25px;
}

nav a {
    margin-left: 1rem;
    text-decoration: none;
    text-decoration-thickness: 0.12rem;
    text-transform: none;
    color: black;
}

nav a:visited {
    text-decoration: none;
    color: black;
}


p {
    font-size: 18px;
}


h1 {
    border-bottom: 4px double #dabce1;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 45px;
}

.title {
    position: absolute;
    top: 0px;
    left: 400px;
    font-size: 110px;
}

.title-bird {
    width: 30px;
    height: auto;
    position: absolute;
    top: 22px;
    left: 59px;
    transition: transform 1s ease;
}

.title-bird:hover {
    transform: rotate(360deg)
}


.blinking-star-one {
    animation: blink 3s infinite;
}


nav a:hover,
.title:hover {
/*     text-decoration: underline; */
    animation: blink 4s infinite;
    filter: brightness(1.8);
    transform: scale(1.02);
    transition: ease 0.4s;
}


@keyframes blink {
    0%,
    100% {
        opacity: 0.9;
        text-shadow: 4px 3px 30px rgb(251, 236, 18);
    }

    50% {
        opacity: 1;
        text-shadow: 10px 9px 47px rgb(130, 53, 126);
    }
}

.dirtyharrypic {
    width: 700px;
    height: auto;
    border-radius: 3px;
    transform: scale(0.01);
    animation: scalePictureFull 3.5s forwards;
}

@keyframes scalePictureFull {
    to {
        transform: scale(1);
    }
}


.unveiled-number {
    font-size: 35px;
    background-color: rgb(140, 47, 164);
    color: rgb(140, 47, 164);
    border-radius: 4px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.unveiled-number:active {
    background-color: transparent;
    color: black;
}

.random-fruit {
    font-size: 30px;
}

.lucky-container {
    max-width: 700px;
    margin: 0 auto;
}

.mepic {
    width: 820px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.97 !important;
    margin: 0 auto;
}

.me-text {
    font-size: 18px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
}

.report-rubric {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    padding: 2rem;
    padding-bottom: 0.8rem;
    border-top: 3px double #dabce1;
}



.report-nav {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.2rem;
    margin: 0 auto;
    justify-content: space-around;

}

.report-nav a {
    color: #333;
    max-width: 100%;
}

.report-navlink {
    color: #333;
    transition: transform ease 0.5s;
    writing-mode:vertical-lr;
    text-orientation: upright;
    margin-right: 1.4rem;
    text-decoration: none;
    padding-top: 2rem;
    font-size: 24px;
}


.report-navlink-project {
    color: #333;
    transition: transform ease 0.5s;
    writing-mode:vertical-lr;
    text-orientation: upright;
/*     font-family:"monoton", sans-serif; */
    margin-left: 3.4rem;
    text-decoration: none;
    font-size: 34px;
    padding-top: 2rem;
}

.report-navlink:hover {
    transform: scale(1.05);
    animation: navlinkShuffle 1.15s infinite, navlinkColorChange 1.15s infinite;
}

.report-navlink-project:hover {
    transform: scale(1.05);
    animation: navlinkShuffle 1.15s infinite, navlinkColorChangeProject 1.15s infinite;
}


@keyframes navlinkShuffle {
    0% { transform: translate(0); }
    20% { transform: translate(-3px, -1px); }
    40% { transform: translate(3px, 3px); }
    60% { transform: translate(-4px, -2px); }
    80% { transform: translate(2px, 5px); }
    100% { transform: translate(0); }
}


@keyframes navlinkColorChange {
    0%, 100% { color: #000; color: #e99b9b; }
    50% { color: #fff; color: #7d338a; }
}

@keyframes navlinkColorChangeProject {
    0%, 100% { color: #000; color: #e99b9b; }
    50% { color: #fff; color: hsl(54, 82%, 51%); }
}


.about-two-col-container {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    text-align: left;
}

.about-left-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.about-right-container {
    padding: 1rem;
}



.report-two-col-container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
}

.report-left-container {
    padding: 1rem;
}

.report-right-container {
    padding: 1rem;
}

li {
    margin-bottom: 0.6rem;
}

.about-block {
    position: relative;
    padding: 1rem;
    border: double 2px plum;
    background-color:#e2bcbc;
    border-radius: 6px;
    animation: blockquotePush 12.15s infinite;

}

@keyframes blockquotePush {
    0% { transform: translate(0); }
    20% { transform: translate(-13px, 0); }
    40% { transform: translate(13px, 0x); }
    60% { transform: translate(-8px, 0); }
    80% { transform: translate(8px, 0); }
    100% { transform: translate(0); }
}

.pushing-one {
    position: absolute;
    bottom: -4px;
    left: -57px;
}

.pushing-two {
    position: absolute;
    bottom: -4px;
    right: -57px;
}

.logo-trio {
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
}

.github {
    width: 50px;
    margin-bottom: 0.2rem;
    transition: transform 1.7s ease;
}

.github:hover {
    transform: rotate(360deg) scale(1.24);
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h3rman-build {
    margin-right: 0.8rem;
    background-color: rgb(231, 153, 153);
    padding: 0.4rem;
    border-radius: 14px;
}

.api-container,
.report-container {
    text-align: left;
    margin: 0 4.4rem;
    line-height: 1.5;
}

.api-link {
    text-decoration: none;
    color: rgb(211, 121, 211);
    font-size: 24px;
    letter-spacing: 2px;
}


.api-link2 {
    text-decoration: none;
    color: rgb(208, 54, 30);
    font-size: 24px;
    letter-spacing: 2px;
}

.api-link3 {
    text-decoration: none;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(235, 197, 29);
    font-size: 24px;
    letter-spacing: 2px;
}





.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    animation: fadeOutFlash 7s forwards;
}


@keyframes fadeOutFlash {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.pig-button {
    padding: 0.4rem;
    font-size: 18px;
    background-color:#e4b8db;
    border: 1px solid purple;
    border-radius: 4px;
    margin: 0.4rem;
    box-shadow: 3px 1px 2px #ccc;
    transition: transform 0.2s ease;

}

.pig-button:hover {
    transform: scale(1.01);
    opacity: 1.04;
}

.pig-button:active {
    transform: scale(0.99);
    box-shadow: 1px 1px 1px #aaa;
}

.dices-pig {
    font-size: 50px;
}

.session-nav {
    position: absolute;
    left:10px;
    top: 10px;
    font-size: 15px;

}

.session-navlink {
    display:flex;
    flex-direction: column;
    padding: 0.2rem;
    margin: 0.6rem;


}

.navlink-b-one {
    animation: balloonFlight infinite 45s;
}

.navlink-b-two {
    animation: balloonFlight2 infinite 42s;
}



.balloon-one {
    width: 40px;
    height: auto;
    padding-left: 5px;
}

.balloon-two {
    width: 34px;
    height: auto;
    margin-top: -7px;
    text-align: center;
    padding-left: 27px;

}


@keyframes balloonFlight {
    0% { transform: translate(0); }
    5% { transform: translate(0, -1px); }
    10% { transform: translate(1px, -3px); }
    15% { transform: translate(-1px, 2px); }
    20% { transform: translate(2px, -5px); }
    25% { transform: translate(-2px, -1px); }
    30% { transform: translate(0, 1px); }
    35% { transform: translate(1px, 4px); }
    40% { transform: translate(-1px, 5px); }
    45% { transform: translate(2px, 0); }
    50% { transform: translate(0, 3px); }
    55% { transform: translate(-2px, 2px); }
    60% { transform: translate(1px, 3px); }
    65% { transform: translate(0, -2px); }
    70% { transform: translate(2px, 5px); }
    75% { transform: translate(-1px, 1px); }
    80% { transform: translate(0, 4px); }
    90% { transform: translate(1px, -3px); }
    100% { transform: translate(0); }
}

@keyframes balloonFlight2 {
    0% { transform: translate(0); }
    10% { transform: translate(0, -3px); }
    20% { transform: translate(2px, -6px); }
    30% { transform: translate(-2px, -2px); }
    40% { transform: translate(1px, 0); }
    50% { transform: translate(-1px, 3px); }
    60% { transform: translate(0, 5px); }
    70% { transform: translate(1px, 2px); }
    80% { transform: translate(-2px, 3px); }
    90% { transform: translate(0, -1px); }
    100% { transform: translate(0); }
}


.card-link {
    text-decoration: none;
    color: rgb(246, 178, 95);
    font-size: 24px;
    letter-spacing: 2px;
}

.flash-message-bird {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:absolute;
    top: 15px;
    left: 200px;
    max-width: 100px;
    max-height: 30px;
    border: 1px solid #ccc;
    font-size: 30px;
}


.red-card,
.red {
    color: red;
}

.black-card,
.black {
    color: black;
}


.deck-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 100px;
}

.card {
    width: calc(100% / 13);
    box-sizing: border-box;
    transition: transform ease 0.2s;
}

.card-int {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cint {
    font-size: 20px;
}

.drawn-card,
.dealt-card {

}

.card:hover {
    transform: scale(1.015)
}

.player-container {
/*     border: 3px double rgb(225, 113, 225); */
    border-radius: 6px;
    margin-bottom: 2rem;
}

.api-post-form {
    display: inline;
}


.toggle-theme {
    position: absolute;
    left: -12px;
    top:-28px;
}

.toggle-icon {
    width: 30px;
    height:auto;
    opacity: 0.9;
    filter:brightness(1.0)

}

.class-uml {
    width: 100%;
}

.theme-sun {
    transition: transform 0.5s ease-out;
}

.theme-sun:hover {
    animation: spinSun 3s linear infinite;
}

@keyframes spinSun {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.code-example {
    padding: 2rem;
    background-color:#e2bcbc;
    padding-bottom: 0;
    border-radius: 5px;
}

.unicode-example {
    font-size: 38px;
}

.class-green {
    color: #4EC9B0;
    font-size: 30px;
    letter-spacing: 1px;
}

.variable-blue {
    color: #0096D6;
}

.class-rubric,
.rubric {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.int {
    color: #35ae35;
}