{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% set me_pic_src = app.session.get('theme') == 'dark' ? asset('img/me-dark.jpg') : asset('img/me3.jpg') %}
    <h1>Home</h1>

    <img class="mepic" src="{{ me_pic_src }}" alt="Me Picture"/>

    <div class="me-text">
    <p>Hej!</p>

    <p>Herman Karlsson heter jag, född, uppvuxen och boendes i Umeå.</p>

    <p>Har efter några år som pokerspelare direkt efter gymnasiet, och perioder med diverse jobb inom industrin, påbörjat dessa programmeringsstudier för att känna lite på vattnet. Kanske kan det visa sig vara någonting för mig.</p>

    <p>Två systrar ackompanjerar mig i syskonskaran, varav en tvillingsyster, som bor med respektive familjer i Helsingborg och Stockholm.</p>

    <p>Har en boxningsbakgrund, där det tävlades flitigt under uppväxten, och var även verksam under ett par år som tränare efter det att jag själv lagt handskarna på hyllan.</p>

    <p>Har inte längre några boxningsåtaganden, men det generella träningsintresset lever kvar, och jag gillar att röra på mig och hålla mig i form, även om träningsvolymerna numera är på en mer blygsam nivå.</p>

    <p>Gällande övriga hobbies och intressen, så uppskattar jag sport i nästan alla dess former, att läsa och att spela schack.</p>

    <p>Väl mött!</p>

    </div>
{% endblock %}