{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <h1>Metrics - Code Quality Analysis</h1>

    <div class="api-container">
        <h2>Introduktion</h2>
        <h2>Phpmetrics</h2>
        <h2>Scrutinizer</h2>
        <h2>Förbättringar</h2>
        <h2>Diskussion</h2>


    </div>
{% endblock %}