{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <div class="report-nav">
        <a class="report-navlink" href="#kmom01">Kmom01</a>
        <a class="report-navlink" href="#kmom02">Kmom02</a>
        <a class="report-navlink" href="#kmom03">Kmom03</a>
        <a class="report-navlink" href="#kmom04">Kmom04</a>
        <a class="report-navlink" href="#kmom05">Kmom05</a>
        <a class="report-navlink" href="#kmom06">Kmom06</a>
        <a class="report-navlink-project" href="#projekt">Projekt</a>
    </div>



    <h2 class="report-rubric" id="kmom01">KMOM01</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom02">KMOM02</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom03">KMOM03</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom04">KMOM04</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>



    <h2 class="report-rubric" id="kmom05">KMOM05</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom06">KMOM06</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="projekt">Projekt</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


{% endblock %}