{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}

    <h1>Report</h1>

    <div class="report-nav">
        <a class="report-navlink" href="#kmom01">Kmom01</a>
        <a class="report-navlink" href="#kmom02">Kmom02</a>
        <a class="report-navlink" href="#kmom03">Kmom03</a>
        <a class="report-navlink" href="#kmom04">Kmom04</a>
        <a class="report-navlink" href="#kmom05">Kmom05</a>
        <a class="report-navlink" href="#kmom06">Kmom06</a>
        <a class="report-navlink-project" href="#projekt">Projekt</a>
    </div>

    <h2 class="report-rubric" id="kmom01">KMOM01</h2>
    <div class="report-container">

<p>Har tidigare jobbat med ett objektorienterat fokus i oopython-kursen, så känner mig hyggligt
varm och bekväm i kläderna på ett konceptuellt plan.</p>

<p>Och det handlar ju, som så ofta programmeringspråken emellan, om liknande konstruktioner kring samma
centrala datatyper och koncept som går igen.</p>

<p>En klass definierar strukturen för en objekttyp, både dess properties, i.e värdevariabler, och metoder,
i.e de specifika funktioner som är knutna till klassen och dess objekt.</p>

<p>Utifrån den klassen kan man sedan "skapa", instansiera, ett objekt, och all den datan och all den funktionalitet,
alltså dess properties och klasspecifika metoder, finns då samlade att tillgå i objektet.</p>

<p>Ett mycket vanligt sätt att jobba är att även etablera en konstruktor, en standardiserad grundmetod, (__magisk metod), som tillåter en att
skicka med argument i instansierandet för att kunna tillskriva objektets properties värden direkt i samband med skapandet.</p>

<p>Det är också i regel rekommenderat att tänka aktivt kring vilka delar av objektets properties och metoder som behöver och ska vara tillgängliga
för en användare, vilket man gör med nyckelorden public, private och protected.</p>

<p>Vanligtvis rekommenderas man att sätta alla properties till private som default, och att man istället reglerar det sättet
som en användare kan interagera med objektets data med publika metoder, där två väldigt vanliga varianter är set och get.</p>

<p>När jag överblickar kodbasen som ligger till grund för våran första kmom01-version av symfony-bygget,
så har jag lite tudelade känslor.</p>

<p>Det har gått smidigt, och det har varit trevligt, att komma igång och jobba med ramverket,
men kan samtidigt känna att det upplevs som aningen bloated, speciellt i relation till våra hittills väldigt modesta sidor.</p>

<p>Har på ett personligt plan en rätt så stark minimalistisk ådra, så det är väl någonting som instinktivt skaver lite där.</p>

<p>Samtidigt har jag förstått att väldigt mycket, om inte den absoluta majoriteten, av den webbutveckling
som man kommer möta ute i arbetslivet kretsar kring arbete i olika typer av ramverk, så det är nyttigt och viktigt
att bekanta sig med dem, och det ska bli intressant att se om och hur ens uppfattning och förståelse
kommer evolvera under kursens gång i arbetet med exemplet i Symfony.</p>

<p>PHP - The Right Way verkar vara en väldigt lovande resurs. Förefaller vara ovanligt kärnfull, insiktsfull och välskriven.</p>

<p>The Basics-sektionen är utmärkt, bokmärkt, och redan läst ett par gånger.</p>

<p>De kortfattade och klara redogörelserna för programparadigmen och namespaces, samt sektionen kring säkerhet,
var några delar som stod ut vid den första genomläsningen.</p>

<p>Mitt TIL, eller TWIL, är hur verkligt gediget man tycks kunna arbeta i php på ett objektorienterat sätt,
trots att det i relativa termer tillkom relativt sent "på riktigt", med riktigt seriös funktionalitet, i PHP 5.0 (2004) (läser jag innantill).
</p>

<p>Nåja, har ändå passerat tjugo år sedan dess, så kanske bättre uttryckt: imponerande ändå för ett språk som till en början saknade den objektrelaterade orienteringen.</p>

<p>MVH</p>

</div>




    <h2 class="report-rubric" id="kmom02">KMOM02</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom03">KMOM03</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom04">KMOM04</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>



    <h2 class="report-rubric" id="kmom05">KMOM05</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="kmom06">KMOM06</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


    <h2 class="report-rubric" id="projekt">Projekt</h2>

    <p>Redovisningstext</p>

    <br><br><br><br><br><br><br><br>


{% endblock %}